footer {
    padding: 20px;
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    margin-top: auto;
}

footer a{
    text-decoration: none;
    color: #a9bdca;
    padding-left: 10px;
    padding-right: 10px;
    
}

.social-links {
    display: flex;
    gap: 5px;
    margin-left: 1100px;
    margin-top: -20px;
}

.social-links img {
    border-radius: 5px;
    width: 25px;
    height: 25x;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.3);
}
